{% extends 'plaintemplate.html'%} {% load static %}


{% block body %}


<div class="container mx-auto">
    <div class="row mx-auto flex items-center justify-content-center">
        <div class="col-6">
            <div class="card mt-5" >
                <div class="card-body">
                    <h5 class="card-title text-muted">
                        Provide your email to recieve reset instructions
                    </h5>

                    {% include 'utilities/flash_message.html'%}

                    <form novalidate autocomplete="off" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <input class="form-control form-control-sm" type="email" name="email" value="{{data.email}}"
                                placeholder="Email" />
                        </div>
                        <input type="submit" value="Submit" class="btn btn-sm btn-block btn-primary" />
                    </form>
                </div>
            </div>

  
        </div>
    </div>
</div>

{% endblock %}