{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>EduroSms |{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/feather/feather.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/icons/flags/flags.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/subStyle.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/plugins/simple-calendar/simple-calendar.css' %}">

    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/fullcalendar/fullcalendar.min.css' %}"
    />

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
  </head>


    <body>
      <div class="main-wrapper">

        <!-- Headbar -->
        <div class="header">
          <div class="header-left">
            <a href="{% url 'MEhub:home-view' %}" class="logo">
              <img src="{% static 'assets/img/logo.png' %}" alt="Logo" />
            </a>
            <a href="{% url 'MEhub:home-view' %}" class="logo logo-small">
              <img
                src="{% static 'assets/img/logo-small.png' %}"
                alt="Logo"
                width="30"
                height="30"
              />
            </a>
          </div>
          <div class="menu-toggle">
            <a href="javascript:void(0);" id="toggle_btn">
              <i class="fas fa-bars"></i>
            </a>
          </div>

          <!-- SearchBar -->
          <div class="top-nav-search">
            <form>
              <input
                type="text"
                class="form-control"
                placeholder="Search here"
              />
              <button class="btn" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </form>
          </div>
          <a class="mobile_btn" id="mobile_btn">
            <i class="fas fa-bars"></i>
          </a>

          <ul class="nav user-menu">
            <li class="nav-item dropdown noti-dropdown language-drop me-2">
              <a
                href="#"
                class="dropdown-toggle nav-link header-nav-list"
                data-bs-toggle="dropdown"
              >
                <img src="{% static 'assets/img/icons/header-icon-01.svg' %}" alt="" />
              </a>
              <div class="dropdown-menu">
                <div class="noti-content">
                  <div>

                    <a class="dropdown-item" href="javascript:;"
                      ><i class="flag flag-lr me-2"></i>English</a
                    >
                    <a class="dropdown-item" href="javascript:;"
                      ><i class="flag flag-np me-2"></i>Nepali</a
                    >
                  
                  </div>
                </div>
              </div>
            </li>

            <li class="nav-item dropdown noti-dropdown me-2">
              <a
                href="#"
                class="dropdown-toggle nav-link header-nav-list"
                data-bs-toggle="dropdown"
              >
                <img src="{% static 'assets/img/icons/header-icon-05.svg' %}" alt="" />
              </a>
              <div class="dropdown-menu notifications">
                <div class="topnav-dropdown-header">
                  <span class="notification-title">Notifications</span>
                  <a href="javascript:void(0)" class="clear-noti">
                    Clear All
                  </a>
                </div>
                <div class="noti-content">
                  <ul class="notification-list">
                    <li class="notification-message">
                      <a href="#">
                        <div class="media d-flex">
                          <span class="avatar avatar-sm flex-shrink-0">
                            <img
                              class="avatar-img rounded-circle"
                              alt="User Image"
                              src="assets/img/profiles/avatar-02.jpg"
                            />
                          </span>
                          <div class="media-body flex-grow-1">
                            <p class="noti-details">
                              <span class="noti-title">Carlson Tech</span> has
                              approved
                              <span class="noti-title">your estimate</span>
                            </p>
                            <p class="noti-time">
                              <span class="notification-time">4 mins ago</span>
                            </p>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="notification-message">
                      <a href="#">
                        <div class="media d-flex">
                          <span class="avatar avatar-sm flex-shrink-0">
                            <img
                              class="avatar-img rounded-circle"
                              alt="User Image"
                              src="assets/img/profiles/avatar-11.jpg"
                            />
                          </span>
                          <div class="media-body flex-grow-1">
                            <p class="noti-details">
                              <span class="noti-title"
                                >International Software Inc</span
                              >
                              has sent you a invoice in the amount of
                              <span class="noti-title">$218</span>
                            </p>
                            <p class="noti-time">
                              <span class="notification-time">6 mins ago</span>
                            </p>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="notification-message">
                      <a href="#">
                        <div class="media d-flex">
                          <span class="avatar avatar-sm flex-shrink-0">
                            <img
                              class="avatar-img rounded-circle"
                              alt="User Image"
                              src="assets/img/profiles/avatar-17.jpg"
                            />
                          </span>
                          <div class="media-body flex-grow-1">
                            <p class="noti-details">
                              <span class="noti-title">John Hendry</span> sent a
                              cancellation request
                              <span class="noti-title">Apple iPhone XR</span>
                            </p>
                            <p class="noti-time">
                              <span class="notification-time">8 mins ago</span>
                            </p>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="notification-message">
                      <a href="#">
                        <div class="media d-flex">
                          <span class="avatar avatar-sm flex-shrink-0">
                            <img
                              class="avatar-img rounded-circle"
                              alt="User Image"
                              src="{% static 'assets/img/profiles/avatar-13.jpg' %}"
                            />
                          </span>
                          <div class="media-body flex-grow-1">
                            <p class="noti-details">
                              <span class="noti-title"
                                >Mercury Software Inc</span
                              >
                              added a new product
                              <span class="noti-title">Apple MacBook Pro</span>
                            </p>
                            <p class="noti-time">
                              <span class="notification-time">12 mins ago</span>
                            </p>
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="topnav-dropdown-footer">
                  <a href="#">View all Notifications</a>
                </div>
              </div>
            </li>

            <li class="nav-item zoom-screen me-2">
              <a href="#" class="nav-link header-nav-list win-maximize">
                <img src="{% static 'assets/img/icons/header-icon-04.svg' %}" alt="" />
              </a>
            </li>

            <li class="nav-item dropdown has-arrow new-user-menus">
              <a
                href="#"
                class="dropdown-toggle nav-link"
                data-bs-toggle="dropdown"
              >
                <span class="user-img">
                  <img
                    class="rounded-circle"
                    src="{% static 'assets/img/profiles/avatar-01.jpg' %}"
                    width="31"
                    alt={{request.user}}
                  />
                  <div class="user-text">
                        <h6>Mr {{request.user.last_name}}</h6>
                    <p class="text-muted mb-0">{{request.user.role}}</p>
                  </div>
                </span>
              </a>
              <div class="dropdown-menu">
                <div class="user-header">
                  <div class="avatar avatar-sm">
                    <img
                      src="{% static 'assets/img/profiles/avatar-01.jpg' %}"
                      alt="User Image"
                      class="avatar-img rounded-circle"
                    />
                  </div>
                  <div class="user-text">
                    <h6>{{request.user}}</h6>
                    <p class="text-muted mb-0">{{request.user.role}}</p>
                  </div>
                </div>
                <a class="dropdown-item" href="profile.html">My Profile</a>
                <a class="dropdown-item" href="inbox.html">Inbox</a>
                <a class="dropdown-item" href="{% url 'Account:logout-view' %}">Logout</a>
              </div>
            </li>
          </ul>
        </div>

        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
          <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
              <ul>
                <!-- ------------------------
                Main
                ----------------------- -->
                <li class="menu-title">
                  <span>Main</span>
                </li>
                <li class="submenu active">
                  <a href="{% url 'MEhub:home-view' %}"
                  class="active">
                  <i class="feather-grid"></i> <span> Dashboard</span>
                  </a>
              
                </li>
                <li class="submenu">
                  <a href="#"
                    ><i class="fas fa-graduation-cap"></i>
                    <span> Students</span> <span class="menu-arrow"></span
                  ></a>
                  <ul>
                    <li><a href="{% url 'MEhub:student-list-view' %}">Student List</a></li>

                    <li><a href="{% url 'MEhub:student-add-view' %}">Student Add</a></li>
                  
                  </ul>
                </li>
                <li class="submenu">
                  <a href="#"
                    ><i class="fas fa-chalkboard-teacher"></i>
                    <span> Teachers</span> <span class="menu-arrow"></span
                  ></a>
                  <ul>
                    <li><a href="{% url 'MEhub:teacher-list-view' %}">Teacher List</a></li>
                   
                    <li><a href="{% url 'MEhub:teacher-add-view' %}">Teacher Add</a></li>
                  
                  </ul>
                </li>

                <li class="submenu">
                  <a href="#"
                    ><i class="fas fa-book-reader"></i> <span> Subjects</span>
                    <span class="menu-arrow"></span
                  ></a>
                  <ul>
                    <li><a href="{% url 'MEhub:subject-list-view' %}">Subject List</a></li>
                    <li><a href="{% url 'MEhub:subject-add-view' %}">Subject Add</a></li>
                   
                  </ul>
                </li>
                <li class="submenu">
                  <a href="#"
                    ><i class="fas fa-clipboard"></i> <span> Invoices</span>
                    <span class="menu-arrow"></span
                  ></a>
                  <ul>
                    <li><a href="{% url 'MEhub:invoice-list-view' %}">Invoices List</a></li>
                   
                    <li><a href="{% url 'MEhub:invoice-add-view' %}">Add Invoices</a></li>
                
                  </ul>
                </li>

               <!-- ------------------------
                Management
                ----------------------- -->
                <li class="menu-title">
                  <span>Management</span>
                </li>
                <li class="submenu">
                  <a href="#"
                    ><i class="fas fa-file-invoice-dollar"></i>
                    <span> Accounts</span> <span class="menu-arrow"></span
                  ></a>
                  <ul>
                    <li><a href="{% url 'MManagement:fees-list-view' %}">Fees Collection</a></li>
                    <li><a href="{% url 'MManagement:expense-list-view' %}">Expenses</a></li>
                    <li><a href="{% url 'MManagement:salary-list-view' %}">Salary</a></li>
                    <li><a href="{% url 'MManagement:fees-add-view' %}">Add Fees</a></li>
                    <li><a href="{% url 'MManagement:expense-add-view' %}">Add Expenses</a></li>
                    <li><a href="{% url 'MManagement:salary-add-view' %}">Add Salary</a></li>
                  </ul>
                </li>
                <li><a href="{% url 'MManagement:holiday-list-view' %}"><i class="fas fa-holly-berry"></i> <span>Holiday</span></a></li>
                <li><a href="{% url 'MManagement:fees-list-view' %}"><i class="fas fa-comment-dollar"></i> <span>Fees</span></a></li>
                <li><a href="{% url 'MManagement:exam-list-view' %}"><i class="fas fa-clipboard-list"></i> <span>Exam list</span></a></li>
                <li><a href="{% url 'MManagement:events-list-view' %}"><i class="fas fa-calendar-day"></i> <span>Events</span></a></li>
                <li><a href="{% url 'MManagement:timetable-list-view' %}"><i class="fas fa-table"></i> <span>Time Table</span></a></li>

                        
                <li>
                  <a href="settings.html"
                    ><i class="fas fa-cog"></i> <span>Settings</span></a
                  >
                </li>
                <li class="menu-title">
                  <span>Security</span>
                </li>
                <li class="submenu">
                  <a href="#"
                    ><i class="fas fa-shield-alt"></i>
                    <span> Password </span>
                    <span class="menu-arrow"></span
                  ></a>
                  <ul>

                    <li><a href="{% url 'Account:request-reset-email-view' %}">Forgot Password</a></li>
                   
                  </ul>
                </li>
  
                <li class="menu-title">
                  <span>Others</span>
                </li>
                <li>
                  <a href="{% url 'MOthers:sport-list-view' %}"
                    ><i class="fas fa-baseball-ball"></i> <span>Sports</span></a
                  >
                </li>
                <li>
                  <a href="{% url 'MOthers:hostel-view' %}"
                    ><i class="fas fa-hotel"></i> <span>Hostel</span></a
                  >
                </li>
                <li>
                  <a href="{% url 'MOthers:transport-list-view' %}"
                    ><i class="fas fa-bus"></i> <span>Transport</span></a
                  >
                </li>
  
  
              </ul>
            </div>
          </div>
        </div>


        <!-- Main Page Start -->
        <div class="page-wrapper">
          {% block main %}
          <div class="content container-fluid">
            <div class="page-header">
              <div class="row">
                <div class="col-sm-12">
                  <div class="page-sub-header">
                    <h3 class="page-title">Welcome Admin!</h3>
                    <ul class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="index.html">Home</a>
                      </li>
                      <li class="breadcrumb-item active">Admin</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-comman w-100">
                  <div class="card-body">
                    <div
                      class="db-widgets d-flex justify-content-between align-items-center"
                    >
                      <div class="db-info">
                        <h6>Students</h6>
                        <h3>50055</h3>
                      </div>
                      <div class="db-icon">
                        <img
                          src="assets/img/icons/dash-icon-01.svg"
                          alt="Dashboard Icon"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-comman w-100">
                  <div class="card-body">
                    <div
                      class="db-widgets d-flex justify-content-between align-items-center"
                    >
                      <div class="db-info">
                        <h6>Awards</h6>
                        <h3>50+</h3>
                      </div>
                      <div class="db-icon">
                        <img
                          src="assets/img/icons/dash-icon-02.svg"
                          alt="Dashboard Icon"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-comman w-100">
                  <div class="card-body">
                    <div
                      class="db-widgets d-flex justify-content-between align-items-center"
                    >
                      <div class="db-info">
                        <h6>Department</h6>
                        <h3>30+</h3>
                      </div>
                      <div class="db-icon">
                        <img
                          src="assets/img/icons/dash-icon-03.svg"
                          alt="Dashboard Icon"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-comman w-100">
                  <div class="card-body">
                    <div
                      class="db-widgets d-flex justify-content-between align-items-center"
                    >
                      <div class="db-info">
                        <h6>Revenue</h6>
                        <h3>$505</h3>
                      </div>
                      <div class="db-icon">
                        <img
                          src="assets/img/icons/dash-icon-04.svg"
                          alt="Dashboard Icon"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-lg-6">
                <div class="card card-chart">
                  <div class="card-header">
                    <div class="row align-items-center">
                      <div class="col-6">
                        <h5 class="card-title">Overview</h5>
                      </div>
                      <div class="col-6">
                        <ul class="chart-list-out">
                          <li><span class="circle-blue"></span>Teacher</li>
                          <li><span class="circle-green"></span>Student</li>
                          <li class="star-menus">
                            <a href="javascript:;"
                              ><i class="fas fa-ellipsis-v"></i
                            ></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div id="apexcharts-area"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-6">
                <div class="card card-chart">
                  <div class="card-header">
                    <div class="row align-items-center">
                      <div class="col-6">
                        <h5 class="card-title">Number of Students</h5>
                      </div>
                      <div class="col-6">
                        <ul class="chart-list-out">
                          <li><span class="circle-blue"></span>Girls</li>
                          <li><span class="circle-green"></span>Boys</li>
                          <li class="star-menus">
                            <a href="javascript:;"
                              ><i class="fas fa-ellipsis-v"></i
                            ></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div id="bar"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 d-flex">
                <div class="card flex-fill student-space comman-shadow">
                  <div class="card-header d-flex align-items-center">
                    <h5 class="card-title">Star Students</h5>
                    <ul class="chart-list-out student-ellips">
                      <li class="star-menus">
                        <a href="javascript:;"
                          ><i class="fas fa-ellipsis-v"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        class="table star-student table-hover table-center table-borderless table-striped"
                      >
                        <thead class="thead-light">
                          <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th class="text-center">Marks</th>
                            <th class="text-center">Percentage</th>
                            <th class="text-end">Year</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-nowrap">
                              <div>PRE2209</div>
                            </td>
                            <td class="text-nowrap">
                              <a href="profile.html">
                                <img
                                  class="rounded-circle"
                                  src="assets/img/profiles/avatar-02.jpg"
                                  width="25"
                                  alt="Star Students"
                                />
                                John Smith
                              </a>
                            </td>
                            <td class="text-center">1185</td>
                            <td class="text-center">98%</td>
                            <td class="text-end">
                              <div>2019</div>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-nowrap">
                              <div>PRE1245</div>
                            </td>
                            <td class="text-nowrap">
                              <a href="profile.html">
                                <img
                                  class="rounded-circle"
                                  src="assets/img/profiles/avatar-01.jpg"
                                  width="25"
                                  alt="Star Students"
                                />
                                Jolie Hoskins
                              </a>
                            </td>
                            <td class="text-center">1195</td>
                            <td class="text-center">99.5%</td>
                            <td class="text-end">
                              <div>2018</div>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-nowrap">
                              <div>PRE1625</div>
                            </td>
                            <td class="text-nowrap">
                              <a href="profile.html">
                                <img
                                  class="rounded-circle"
                                  src="assets/img/profiles/avatar-03.jpg"
                                  width="25"
                                  alt="Star Students"
                                />
                                Pennington Joy
                              </a>
                            </td>
                            <td class="text-center">1196</td>
                            <td class="text-center">99.6%</td>
                            <td class="text-end">
                              <div>2017</div>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-nowrap">
                              <div>PRE2516</div>
                            </td>
                            <td class="text-nowrap">
                              <a href="profile.html">
                                <img
                                  class="rounded-circle"
                                  src="assets/img/profiles/avatar-04.jpg"
                                  width="25"
                                  alt="Star Students"
                                />
                                Millie Marsden
                              </a>
                            </td>
                            <td class="text-center">1187</td>
                            <td class="text-center">98.2%</td>
                            <td class="text-end">
                              <div>2016</div>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-nowrap">
                              <div>PRE2209</div>
                            </td>
                            <td class="text-nowrap">
                              <a href="profile.html">
                                <img
                                  class="rounded-circle"
                                  src="assets/img/profiles/avatar-05.jpg"
                                  width="25"
                                  alt="Star Students"
                                />
                                John Smith
                              </a>
                            </td>
                            <td class="text-center">1185</td>
                            <td class="text-center">98%</td>
                            <td class="text-end">
                              <div>2015</div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 d-flex">
                <div class="card flex-fill comman-shadow">
                  <div class="card-header d-flex align-items-center">
                    <h5 class="card-title">Student Activity</h5>
                    <ul class="chart-list-out student-ellips">
                      <li class="star-menus">
                        <a href="javascript:;"
                          ><i class="fas fa-ellipsis-v"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <div class="activity-groups">
                      <div class="activity-awards">
                        <div class="award-boxs">
                          <img
                            src="assets/img/icons/award-icon-01.svg"
                            alt="Award"
                          />
                        </div>
                        <div class="award-list-outs">
                          <h4>1st place in "Chess”</h4>
                          <h5>John Doe won 1st place in "Chess"</h5>
                        </div>
                        <div class="award-time-list">
                          <span>1 Day ago</span>
                        </div>
                      </div>
                      <div class="activity-awards">
                        <div class="award-boxs">
                          <img
                            src="assets/img/icons/award-icon-02.svg"
                            alt="Award"
                          />
                        </div>
                        <div class="award-list-outs">
                          <h4>Participated in "Carrom"</h4>
                          <h5>Justin Lee participated in "Carrom"</h5>
                        </div>
                        <div class="award-time-list">
                          <span>2 hours ago</span>
                        </div>
                      </div>
                      <div class="activity-awards">
                        <div class="award-boxs">
                          <img
                            src="assets/img/icons/award-icon-03.svg"
                            alt="Award"
                          />
                        </div>
                        <div class="award-list-outs">
                          <h4>Internation conference in "St.John School"</h4>
                          <h5>
                            Justin Leeattended internation conference in
                            "St.John School"
                          </h5>
                        </div>
                        <div class="award-time-list">
                          <span>2 Week ago</span>
                        </div>
                      </div>
                      <div class="activity-awards mb-0">
                        <div class="award-boxs">
                          <img
                            src="assets/img/icons/award-icon-04.svg"
                            alt="Award"
                          />
                        </div>
                        <div class="award-list-outs">
                          <h4>Won 1st place in "Chess"</h4>
                          <h5>John Doe won 1st place in "Chess"</h5>
                        </div>
                        <div class="award-time-list">
                          <span>3 Day ago</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

     
          </div>
          {% endblock main %}
          <footer>
            <p>Copyright © 2022 Dreamguys.</p>
          </footer>
        </div>
      </div>

      <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
      <script src="{% static 'assets/js/moment.min.js' %}"></script>
      <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'assets/js/feather.min.js' %}"></script>
      
      <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
      <script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
      <script src="{% static 'assets/plugins/apexchart/chart-data.js' %}"></script>
      <script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>
      <script src="{% static 'assets/plugins/fullcalendar/fullcalendar.min.js' %}"></script>
      <script src="{% static 'assets/plugins/fullcalendar/jquery.fullcalendar.js' %}"></script>



      <script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>
      <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>

      <script src="{% static 'assets/plugins/simple-calendar/jquery.simple-calendar.js' %}"></script>
      <script src="{% static 'assets/js/calander.js' %}"></script>
      <script src="{% static 'assets/js/circle-progress.min.js' %}"></script>
      <script src="{% static 'assets/js/script.js' %}"></script>
        {% include 'utilities/flash_message.html' %}
    </body>

</html>
