{% extends "base.html" %}
{% block title %}Edit Attendance | Teacher{% endblock title %}
{% block main %}

<div class="content container-fluid">
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col-sm-12">
        <div class="page-sub-header">
          <h3 class="page-title">Edit Teacher Attendance</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'MEhub:student-list-view' %}">Teacher Attendance</a>
            </li>
            <li class="breadcrumb-item active">Edit Teacher Attendance</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{%include './teacher_attendance_form.html'%}
{% endblock main %}